
.jumbotron {
    margin-top: 63px;
}

div[role='main'] {
    margin-top: 40px;
}

.navbar {
    padding: 0;
}

body {
    padding-top: 33px;
}

.breadcrumb {
    padding: 0;
    background: initial;
}

.scaffold-item {
    margin-top: 25px;
}

.scaffold-item > p {
    min-height: 69px;
}

